*{margin: 0px;}
.App{
  background-color: #111;}
.myinfo{
  background-image: linear-gradient(to right, #ddd 30%,#745 50%, #000 40%);
  display: flex;
  justify-content: center;
  background-size: 200% 100%;
  background-position: bottom right;
  transition: all .9s ease-out;
}
.myinfo:hover{
  background-position: bottom left;
  color: #000;
}
.myinfo p{
  color: #444;
  padding: 20px;
}
.myinfo a{
  font-weight: 700;
  text-decoration: none;
}
